/*  your css code here. If applicable */
.center-box {
    width: 200px;
    height: 200px;
    background-color: #add8e6; 
    border: 2px solid #000; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.eg{
	text-align:center;
	color:purple;
}
body{
	height:100vh;
	display: flex;
    align-items: center;
    justify-content: center;
}
